@charset "utf-8";

/*========= ナビゲーションのためのCSS ===============*/
/* 通常版（デスクトップ）のスタイル */
#g-nav {
    /* position: fixed;にし、z-indexの数値を大きくして前面へ */
    position: fixed;
    z-index: 999;
    /* ナビのスタート位置と形状 */
    top: 0;
    left: -120%;
    width: 30%;
    height: 100vh; /* ナビの高さ */
    background: #333333;
    /* 動き */
    transition: all 1s;
}

/* スマホ版のスタイル */
@media (max-width: 768px) {
    #g-nav {
        position: fixed;
        z-index: 999;
        /* ナビのスタート位置と形状 */
        top: 0;
        left: -120%;
        width: 55%; /* ナビを画面幅いっぱいに広げる */
        height: 100vh; /* ナビの高さ */
        background: #333333;
        /* 動き */
        transition: all 1s;
    }
}


/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
    left: 0;
}


/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999;
    width:100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top:8%;
}

/*リストのレイアウト設定*/

#g-nav li {
    list-style: none;
    border-bottom: solid 1px white;
    margin-bottom: 20px;
    position: relative;
    left: 10%;
}

#g-nav li:hover {
    border-bottom: solid 1px #666666;
}

#g-nav li a:hover {
    color: #666666;
}
#g-nav li a{
    color: white;
    text-decoration: none;
    padding:10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn1{
    position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
    top:10px;
    left: 10px;
    cursor: pointer;
    width: 50px;
    height:50px;
}

/*×に変化*/
.openbtn1 span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #ffffff;
    width: 45%;
}

.openbtn1 span:nth-of-type(1) {
    top:15px;
}

.openbtn1 span:nth-of-type(2) {
    top:23px;
}

.openbtn1 span:nth-of-type(3) {
    top:31px;
}

.openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
    opacity: 0;
}

.openbtn1.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}



/*========= レイアウトのためのCSS ===============*/

h1{
    font-size:1.2rem;
}

h2{
    font-size:1.2rem;
    margin: 0 0 30px 0;
}

p{
    margin-top:20px;
}

small{
    color:#fff;
    display: block;
}

#header{
    width:100%;
    background:#333;
    color:#fff;
    padding: 20px;
}

section{
    padding:100px 30px;
}

section:nth-child(2n){
    background:#f3f3f3;
}

#footer{
    background:#333;
    padding:20px;
}
