<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>This is a title.</title>
    <link rel="stylesheet" type="text/css" href="css/sample1.css">
</head>

<body>
<h1>This is a heading.</h1>
<p>This is a paragraph.<br>This is a paragraph.</p>
</body>
</html>

<style>
    h1 {
        font-family : sans-serif;
        font-size : 24px;
        padding : 32px;
        color : #ffaaaa;
        background-color : #333333;
        border-left : #ffaaaa solid 4px;
    }

    p {
        font-family : sans-serif;
        background-color : #cccccc;
        font-size : 18px;
        margin : 32px;
    }
</style>